.calculator {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 1fr; /* 4 cột */
  gap: 8px; /* Khoảng cách giữa các nút */
  width: 300px; /* Chiều rộng tổng thể */
}

button {
  padding: 20px;
  border: 1px solid #ccc;
  font-size: 18px;
  cursor: pointer;
  background-color: #fff;
}

.equals {
  background-color: #4285f4; /* Màu xanh lam */
  color: white;
  /* grid-row: 1 / span 3;  Cần dùng cùng với HTML */
}